/* container generale  */
.film-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  
  /* container interno per la transizione*/
  .film-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* transizione orizzontale all'hover sulla card */
  .film-card:hover .film-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .film-card-front, .film-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .film-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .film-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
}